---
import type { GetStaticPathsResult } from "astro";
import { dictionary } from "../../dictionary";
import Layout from "../../layouts/Layout.astro";
import Navigation from "../../components/Navigation.astro";

export function getStaticPaths() {
	return Object.values(dictionary.chapters).reduce<GetStaticPathsResult>(
		(all, ch) => [
			...all,
			...ch.words.map((word) => ({
				params: {
					chapter: word.chapter,
					word: word.slug,
				},
			})),
		],
		[]
	);
}

const { chapter, word } = Astro.params;
const currentWord = dictionary.get(word as string);

const types: Record<number, string> = {
	1: "n.",
	2: "adj.",
	3: "v.",
	4: "v. intr.",
};
---

<Layout title={currentWord.name}>
	<Navigation current={chapter as string} />

	<div
		class="fixed top-1/2 hidden w-full -translate-y-1/2 items-center justify-between font-mono text-xs text-neutral-300 md:flex"
	>
		<span class="tag ml-2 rotate-180 [writing-mode:vertical-lr]">
			{dictionary.chapters[chapter!].name}
		</span>

		<span class="tag mr-2 [writing-mode:vertical-rl]">Vox Obscura</span>
	</div>

	<div class="flex h-svh items-center justify-center px-6">
		<dl class="definition prose prose-neutral prose-invert">
			<dt>
				<dfn class="not-italic">
					<h1 class="mb-0 text-5xl">{currentWord.name}</h1>
				</dfn>
			</dt>

			<dd class="pl-0">
				<p>
					<span class="italic">{types[currentWord.type]}</span>
					{" "}
					<Fragment set:html={currentWord.definition} />
				</p>
			</dd>

			<dd class="pl-0 text-sm text-neutral-400">
				<p set:html={currentWord.etymology} />
			</dd>
		</dl>
	</div>
</Layout>

<script>
	import { stagger, timeline } from "motion";

	timeline([
		[
			".definition > *",
			{ y: ["-100%", 0], opacity: [0, 1] },
			{ delay: stagger(0.25), duration: 1 },
		],
		[".tag", { opacity: [0, 1] }, { duration: 1 }],
	]);
</script>
