---
import type { GetStaticPathsResult } from "astro";
import { dictionary } from "../../dictionary";
import Layout from "../../layouts/Layout.astro";
import Navigation from "../../components/Navigation.astro";

export function getStaticPaths() {
	return Object.values(dictionary.chapters).reduce<GetStaticPathsResult>(
		(all, ch) => [
			...all,
			...ch.words.map((word) => ({
				params: {
					chapter: word.chapter,
					word: word.slug,
				},
			})),
		],
		[]
	);
}

const { chapter, word } = Astro.params;

const chapterWords = dictionary.chapters[chapter as string].words;

const currentWord = dictionary.get(word as string);
const currentIdx = chapterWords.indexOf(currentWord);

const prev = chapterWords.at(currentIdx - 1)!;
const next = chapterWords.at(currentIdx + 1) ?? chapterWords[0];

const types: Record<number, string> = {
	1: "n.",
	2: "adj.",
	3: "v.",
	4: "v. intr.",
};
---

<Layout title={currentWord.name}>
	<Navigation current={chapter as string} />

	<div
		class="fixed top-1/2 hidden w-full -translate-y-1/2 items-center justify-between font-mono text-xs text-neutral-300 *:opacity-0 md:flex"
	>
		<span class="tag ml-2 rotate-180 [writing-mode:vertical-lr]">
			{dictionary.chapters[chapter!].name}
		</span>

		<span class="tag mr-2 [writing-mode:vertical-rl]">Vox Obscura</span>
	</div>

	<div class="mx-auto flex h-svh max-w-3xl flex-col items-center justify-center px-4">
		<dl class="prose prose-neutral prose-invert max-w-[inherit] *:opacity-0">
			<dt class="part">
				<dfn class="not-italic">
					<h1 class="mb-0">{currentWord.name}</h1>
				</dfn>
			</dt>

			<dd class="part pl-0">
				<p>
					<span class="italic">{types[currentWord.type]}</span>
					{" "}
					<Fragment set:html={currentWord.definition} />
				</p>
			</dd>

			<dd class="part pl-0 text-sm text-neutral-400">
				<p set:html={currentWord.etymology} />
			</dd>
		</dl>

		<div class="part my-6 h-px w-full bg-neutral-100/10 opacity-0" role="separator">
		</div>

		<nav class="part flex w-full justify-between font-mono text-sm opacity-0">
			<a href={prev.slug}>&lt;[ {prev.name}</a>
			<a href={next.slug}>{next.name} ]&gt;</a>
		</nav>
	</div>
</Layout>

<script>
	import { stagger, timeline } from "motion";

	document.addEventListener("astro:page-load", () => {
		timeline([
			[".part", { opacity: 1 }, { delay: stagger(0.15), duration: 1.25 }],
			[".tag", { opacity: 1 }, { duration: 1, at: "-0.75" }],
		]);
	});
</script>
