---
import type { GetStaticPathsResult } from "astro";
import dictionary from "../../dictionary";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths(): GetStaticPathsResult {
	return Object.values(dictionary.chapters).reduce<GetStaticPathsResult>(
		(all, ch) => [
			...all,
			...ch.words.map((word) => ({
				params: {
					chapter: word.chapter,
					word: word.slug,
				},
			})),
		],
		[],
	);
}

const { word } = Astro.params;
const currentWord = dictionary.get(word as string);

const types: Record<number, string> = {
	1: "n.",
	2: "adj.",
	3: "v.",
	4: "v. intr.",
};
---

<Layout title={currentWord.name}>
	<div class="flex h-screen items-center justify-center">
		<dl class="prose prose-neutral !prose-invert px-10">
			<dt>
				<h1 class="text-5xl">{currentWord.name}</h1>
			</dt>

			<dd class="pl-0 text-justify">
				<p>
					<em>{types[currentWord.type]}</em>
					{" "}
					<Fragment set:html={currentWord.definition} />
				</p>
			</dd>

			<dd class="pl-0 text-justify text-sm text-neutral-400">
				<p set:html={currentWord.etymology} />
			</dd>
		</dl>
	</div>
</Layout>
