---
import type { GetStaticPathsResult } from "astro";
import Layout from "../../layouts/Layout.astro";
import dictionary from "../../lib/dictionary";

export function getStaticPaths(): GetStaticPathsResult {
	return Object.keys(dictionary.chapters).map((slug) => ({
		params: { chapter: slug },
	}));
}

const chapter = dictionary.chapters[Astro.params.chapter!];
---

<Layout title={chapter.name}>
	<div class="flex flex-col justify-center">
		<div class="mt-24 flex justify-center px-16">
			<article class="prose !prose-invert prose-neutral">
				<h1>{chapter.name}</h1>

				{
					chapter.quotes.map((chapter) => (
						<figure class="prose-blockquote:font-normal prose-blockquote:not-italic">
							<blockquote
								class="not-prose whitespace-pre text-neutral-300 [&>p]:text-justify"
								set:html={chapter.body}
							/>

							<figcaption>
								&mdash; {chapter.author}, <cite>{chapter.source}</cite>
							</figcaption>
						</figure>
					))
				}
			</article>
		</div>

		<div
			class="mx-auto my-20 grid grid-cols-2 gap-y-8 gap-x-8 px-8 text-center font-mono text-sm text-neutral-400 sm:gap-x-24 md:grid-cols-3 md:gap-x-16 lg:gap-x-32 2xl:grid-cols-4"
		>
			{
				chapter.words.map((word) => (
					<a
						href={`${word.chapter}/${word.slug}`}
						class="my-4 place-self-center hover:text-white"
					>
						{word.name}
					</a>
				))
			}
		</div>
	</div>
</Layout>
